.slider-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 0 2rem;
}

.home-slider {
  width: 100%;
  height: 70vh;
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* filter: brightness(0.8); */
}

.slide-caption {
  position: absolute;
  bottom: 10%;
  left: 6%;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  padding: 0.8rem 1.5rem 1rem;
}

.slide-caption h2 {
  font-family: 'Noto Serif', sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
}

.slide-caption span.cta {
  font-size: 1rem;
  text-decoration: underline;
}

.swiper-button-prev, 
.swiper-button-next {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  padding: 10px;
  font-size: 0.875em;
  width: 20px;
  height: 20px;
}

.swiper-horizontal .swiper-button-prev {
  left: 20px;
}

.swiper-horizontal .swiper-button-next {
  right: 20px;
}

.swiper-button-prev svg, 
.swiper-button-next svg {
  width: 80%;
  height: 80%;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .home-slider {
    height: 85vh;
  }
}